<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="LoggingDB" connectionString="Server=localhost;Initial Catalog=YourDataBaseName;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>
      <add key="Identity" value="https://auth.mysite" />
      <add key="ServiceB" value="tcp://service-a.mysite" />
      <add key="ServiceAPI" value="http://://serviceapi.mysite" />      
      <add key="FileShare" value="\\fileshare.mysite\c$" />
    </appSettings>
    <connectionStrings/>
    <system.web>
        <compilation debug="false"/>
        <authentication mode="Windows"/>
    </system.web>
</configuration>